@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
}

.container {
  margin: 1rem;
}

header .navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  border-radius: 0.6rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 3rem;
  background: linear-gradient(90deg, rgb(49, 48, 77) 0%, rgb(22, 26, 48) 120%);
}
header .navbar h1 {
  font-size: 1.5rem;
  color: #f0ece5;
}
header .navbar .nav-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}
header .navbar .nav-list a {
  font-size: 1.15rem;
  text-decoration: none;
  color: #f0ece5;
}
header .navbar .nav-list .login-card {
  position: absolute;
  top: -50%;
  left: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.5s linear;
  transform: translate(0%, -50%);
}
header .navbar .nav-list .login-card .active-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}
header .navbar .nav-list .login-card .active-login .input {
  display: flex;
  gap: 0.5rem;
  min-width: 12rem;
}
header .navbar .nav-list .login-card .active-login .input input {
  max-width: 12rem;
  border: 0.1rem solid #161a30;
  border-radius: 1rem;
  padding: 0.3rem;
  outline: none;
}
header .navbar .nav-list .login-card .active-login .input input::-moz-placeholder {
  padding-left: 0.2rem;
}
header .navbar .nav-list .login-card .active-login .input input::placeholder {
  padding-left: 0.2rem;
}
header .navbar .nav-list .login-card .active-login .input input[type=email] {
  padding-left: 0.8rem;
}
header .navbar .nav-list .login-card .active-login .input input[type=password] {
  padding-left: 0.8rem;
}
header .navbar .nav-list .login-card .active-login .input .username-info-error,
header .navbar .nav-list .login-card .active-login .input .password-info-error {
  display: flex;
  align-items: center;
}
header .navbar .nav-list .login-card .active-login .input .username-info-error p,
header .navbar .nav-list .login-card .active-login .input .password-info-error p {
  font-size: 0.8rem;
}
header .navbar .nav-list .login-card .btn-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
header .navbar .nav-list .login-card .btn-info #btn {
  min-width: 5rem;
  border: 0.1rem solid #161a30;
  border-radius: 1rem;
  padding: 0.25rem;
  outline: none;
  cursor: pointer;
  color: #161a30;
  background: linear-gradient(270deg, rgb(227, 225, 217) 0%, rgb(242, 239, 229) 100%);
}
header .navbar .nav-list .login-card .btn-info #btn:hover {
  font-weight: bold;
}
header .navbar .nav-list .login-card .btn-info .error {
  font-size: 0.8rem;
}
header .navbar .nav-list .active-login-card {
  position: absolute;
  display: flex;
  left: 30%;
  top: 50%;
}

.search-section .search-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 3rem;
}
.search-section .search-list .search-title {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.search-section .search-list .search-title h2 {
  font-weight: 400;
  font-size: 1.1rem;
  color: #161a30;
}
.search-section .search-list .search-title p {
  color: #161a30;
}
.search-section .search-list .search-title p span {
  font-weight: 600;
  color: #161a30;
}
.search-section .search-list .sort {
  display: flex;
  display: flex;
  gap: 3rem;
}
.search-section .search-list .sort select {
  border: 0.1rem solid #161a30;
  border-radius: 1rem;
  padding: 0.5rem;
  outline: none;
}
.search-section .search-list .sort .by-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search-section .search-list .sort .by-brand label {
  color: #161a30;
}

.main-section .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.665rem;
  max-width: 1440px;
  margin: 4rem auto;
  padding: 0rem 3rem;
}
.main-section .cards-container .phone-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 36rem;
  width: 20.5rem;
  border-radius: 0.4rem;
  padding: 2rem 1rem;
  background-color: transparent;
  transition: all 150ms linear;
}
.main-section .cards-container .phone-card:hover {
  cursor: pointer;
  transform: translate(2%, -4%);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
}
.main-section .cards-container .phone-card .images-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 212px;
  width: 160px;
}
.main-section .cards-container .phone-card .images-box img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.5rem;
}
.main-section .cards-container .phone-card .main-box {
  display: flex;
  gap: 2rem;
}
.main-section .cards-container .phone-card .main-box .description-box,
.main-section .cards-container .phone-card .main-box .specification-box {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  text-align: left;
}
.main-section .cards-container .phone-card p {
  color: #161a30;
}
.main-section .cards-container .phone-card p:last-child {
  font-weight: 700;
}
.main-section .cards-container .phone-card a {
  display: none;
  font-size: 0.65rem;
  letter-spacing: 0.15rem;
  text-decoration: none;
  color: #161a30;
}
.main-section .cards-container .phone-card a:hover {
  font-weight: 700;
}
.main-section .cards-container .phone-card .btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 8rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #161a30;
  padding: 0.4rem;
  color: #161a30;
  background: linear-gradient(270deg, rgb(227, 225, 217) 0%, rgb(242, 239, 229) 100%);
}
.main-section .cards-container .phone-card .btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, rgb(49, 48, 77) 0%, rgb(22, 26, 48) 120%);
  color: #f0ece5;
}/*# sourceMappingURL=style.css.map */